body {
    font-family: 'Playfair Display', serif;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-size: 40px;
}

#name {
    color: rgb(7, 117, 117);
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 800;
    color: whitesmoke;
}